{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% block css-layout %}
    <link href="{% static "css/main/page.css" %}"
          rel="stylesheet">
{% endblock %}
{% block brand %}{% trans "Sales scripts. Free designer - SaleScript.gift" %}{% endblock %}
{% block title-subject %}{% trans "Frequently Asked Questions"|capfirst %}{% endblock %}
{% block main %}
    <main role="main">
        <h2>{% trans "F.A.Q."|capfirst %}</h2>
        <section>
            <h3>Как добавлять вопросы к скрипту?</h3>
            <p>Первым делом необходимо добавить в сценарий разговора первую реплику
                вашего оператора. Обычно, в первый вопрос размещают приветствие и
                представление сотрудника. Для этого, нажмите «Добавить вопрос».
                У вас появится блок вопроса прямоугольной формы.
            </p>
        </section>
        <section>
            <h3>Как добавлять ответы клиента к скрипту?</h3>
            <p>Выделите нужный вопрос вашего оператора и нажмите кнопку «Добавить
                вариант ответа» и добавляйте варианты. Кнопка "Добавить вариант
                ответа" появляется при выделении какого-либо из вопросов мышью.
            </p>
        </section>
        <section>
            <h3>Почему менеджер задает вопросы, а клиент только отвечает?</h3>
            <p>Это условно. Но вообще, разве не продуктивнее менеджеру удерживать
                инициативу и для этого задавать вопросы?
            </p>
        </section>
        <section>
            <h3>Как редактировать содержимое блоков вопросов и ответов?</h3>
            <p>Выделите необходимый блок мышью — он станет подсвечен голубым.
                Пока он выделен, вы можете редактировать его содержание в правой
                колонке — в блоке «Свойства элемента».
            </p>
        </section>
        <section>
            <h3>Как связывать между собой блоки вопросов и ответов?</h3>
            <p>Выделив блок с ответом Клиента вы также получаете возможность
                связать его с каким-либо из вопросов Оператора, нажимая кнопку
                «Связать», а затем нажав на нужный вопрос. Для удобства, блоки
                вопросов в этот момент подсвечиваются зеленым цветом. Расположение
                блоков и связывающие линии выравниваются автоматически.
            </p>
        </section>
        <section>
            <h3>Как перемещаться по полю ввода скрипта в редакторе?</h3>
            <p>Вы можете перемещаться по полю ввода скрипта при помощи
                горизонтального и вертикального ползунков, а также вращая колесо
                мыши — очень важно при создании больших скриптов. Также можно
                увеличивать и уменьшать масштаб отображения скрипта используя
                ползунок «Масштаб» в правом верхнем углу.
            </p>
        </section>
        <section>
            <h3>Зачем нужны блоки «Начало» и «Успех» и как ими пользоваться?</h3>
            <p> Это программная необходимость, чтобы редактор и просмотрщик знали
                где начало, а где конец — обязательно соедините ответы Клиента,
                связанные с достижением цели вашего скрипта с пунктом «Успех»,
                который был введен автоматически с самого начала. Это замкнет
                скрипт и вернет его к началу, чтобы вы могли сразу же включиться
                в работу со следующим клиентом, когда будете находиться в режиме
                просмотра.
            </p>
        </section>
        <section>
            <h3>Как сохранить скрипт, который я набрал?</h3>
            <p>В редакторе дайте скрипту имя и описание и обязательно нажмите
                кнопку «Сохранить».
            </p>
        </section>
        <section>
            <h3>Скажите, есть возможность, чтобы мой скрипт мог использовать
                другой пользователь?</h3>
            <p>Да, вы можете предоставить к скрипту доступ другим людям в разделе
                "права". Просто вышлите им на почту приглашения и назначьте уровень
                доступа. Когда они зарегистрируются в системе, пройдя по ссылке
                из письма, у них на рабочем столе будет ваш скрипт.
            </p>
        </section>
        <section>
            <h3>Скажите, у вас в системе есть возможность экспорта скрипта, чтобы
                он был доступен оффлайн? А импорта скриптов в систему?</h3>
            <p>Пока такой возможности нет. В прошлом голосовании пользователи
                проголосовали за создание CRM, а не за экспорт/импорт скриптов.
                Когда сделаем CRM - предложим следующее голосование и снова можно
                будет выбрать то, что наиболее актуально и ценно сделать.
            </p>
        </section>
        <section>
            <h3>Когда скрипт разрастается - становится неудобно искать по всему экрану нужную фразу, можно ли как-то сделать по нему поиск?</h3>
            <p>Специальной функции поиска нет, но вы можете нажать стандартную комбинацию клавиш CTRL+F и в появившейся форме вводить нужные слова.
            </p>
        </section>
       <section>
       <h3>Не получается восстановить пароль учетной записи. Я регистрировался через учетную запись социальной сети.</h3>
       <p>Попробуйте продолжать входить через эту же учетную запись. Назначение и восстановление паролей для них не требуется.</p>
       </section>
       <section>
       <h3>Q: Есть ли возможность в вашей программе дублировать сценарии? То есть я хочу скопировать сделанный сценарий и его редактировать, а не создавать заново.</h3>
       <p>A: Копировать сценарий можно! Для этого, сначала выберите сценарий, нужный вам для копирования в редакторе, затем там же выберите пустое поле названия, назовите иначе и сохраните. У вас будет два одинаковых скрипта под разными названиями. Далее модифицируйте как хотите.</p>
       </section>
    </main>
{% endblock %}
