{% extends 'base.html' %}
{% load i18n social_login %}
{% load staticfiles %}

{% block css-layout %}
    <link href="{% static "css/main/page.css" %}"
          rel="stylesheet">
{% endblock %}

{% block title %}Скрипты продаж бесплатно. Генератор SaleScript.Gift{% endblock %}
{% block head-description %}Скрипты продаж бесплатно навсегда, составьте свой сценарий разговора.{% endblock %}
{% block brand %}{% trans "Sales scripts. Free designer - SaleScript.gift" %}{% endblock %}
{% block content %}
    <div class="main">
        <div class="slide about">

            <div class="row">

                <div class="picture-block">
                    <iframe width="427" height="240" src="https://www.youtube.com/embed/dRt4vuqIw1g?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="text-block">

                    <h1>Бесплатный генератор скриптов продаж</h1>

                    <p>Добро пожаловать на открытое бета-тестирование генератора
                        скриптов продаж
                        SaleScript.gift. Важно: посмотрите видео на этой странице, прежде чем начнете работу.</p>
                    <p>
                        Хорошая новость: генератор скриптов продаж останется
                        бесплатным навсегда. С
                        вашей помощью, мы успешно улучшаем этот функционал, а скоро
                        начнем работать и
                        над расширением возможностей всей системы, чтобы создать
                        из нее полноценную
                        машину лидогенерации в холодных продажах и не только.
                        Однако, это только
                        начало. У нас есть еще очень много интересных мыслей,
                        которые мы надеемся
                        воплотить в жизнь.</p>

                    <p>Для этого нам требуется ваша помощь. Любые замечания об
                        ошибках и недостатках
                        системы вы всегда можете отправить нам через
                        нашу страницу VK. Мы будем
                        вам очень благодарны. Вы также можете поддержать проект
                        финансово на сугубо
                        добровольной основе.</p>

                </div>
            </div>
        </div>
        <div class="slide scripts">
           <div class="row">
            <div class="picture-block">
                {# Vk groups #}
                {% include "vk_groups.inc.html" %}
                {# End Vk groups #}
            </div>
            <div class="text-block">
            <h2>Что такое скрипты разговоров (продаж)</h2>
            <p>Скрипты разговоров, чаще называемые скриптами продаж - это
                подробный сценарий
                разговора по телефону. Он значительно снижает риски потерять
                клиента, как
                потенциального, так и уже имеющегося, связанные с
                некомпетентностью
                менеджера, стрессовыми факторами, а также помогает научиться
                высокому
                стандарту разговора по телефону новому члену вашей команды,
                сокращая период
                обучения. Внедрив скрипты звонков на своем предприятии, вы
                сможете после
                небольшого периода стажировки (1-2 недели) установить зарплату
                сотрудника, в
                зависимости от его реальной ценности для компании и он наверняка
                не
                обидится, потому что уже будет достаточно уверен в себе. В
                зависимости от
                того, для чего разработан скрипт разговора, их можно применять
                для:</p>
            <ul>
                <li>Холодные звонки в организации и к частным лицам</li>
                <li>Обработка входящих звонков</li>
                <li>Служба поддержки клиентов</li>
                <li>Сбор информации о конкурентах</li>
                <li>Повторная продажа по телефону</li>
                <li>Опрос об удовлетворенности сотрудничеством</li>
                <li>Общении при взыскании задолженности с клиента (коллекторская служба)</li>
            </ul>
            <p>И даже не ограничиваясь этим. Ведь вы можете практически
                полностью исключить
                фактор случайности и некомпетентности сотрудников при любом
                общении с
                клиентом. А сотрудники на телефоне - это лицо вашей компании, по
                сути,
                именно они часто и создают впечатление о ней.</p>
                </div>
           </div>
        </div>
        <div class="slide scripts-how">
        <div class="row">
         <div class="picture-block">
         <noindex>
         <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/quickpay/shop-widget?account=410011260096230&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&targets-hint=&default-sum=100&button-text=04&comment=on&hint=&successURL=https%3A%2F%2Fsalescript.gift%2Fru%2F" width="435" height="274"></iframe>
         </noindex>
         </div>
            <div class="text-block">
            <h2>Что должен включать в себя скрипт продаж</h2>
            <p>В зависимости от поставленных целей, состав скрипта может быть
                различным.
                Главное, что необходимо достичь - это цель конкретного сценария.
                В одном
                случае, это может быть продажа, в другом - снятие эмоционального
                накала
                (служба поддержки), в третьем, как например в оконной компании -
                продажа не
                окон, а лишь вызова замерщика. Вы сами должны определить для
                себя то звено,
                с которого получите максимальную конверсию в продажи, решение
                проблем
                клиента и т. д.</p>

            <p>Как бы то ни было, основные разделы качественного скрипта продаж
                могут
                включать:</p>

            <ul>
                <li>Разговор с секретарем, выявление лица принимающего решение
                    (ЛПР) и
                    получение контакта с ним
                </li>
                <li>Выявление у ЛПР потребности в Вашем продукте/услуге</li>
                <li>Презентация продукта/услуги</li>
                <li>Работа с возражениями</li>
                <li>Закрытие на цель скрипта</li>
                <li>Дополнительная продажа</li>
            </ul>
            <p>Вам стоит контролировать своих менеджеров, прослушивать записи
                звонков,
                создать чеклисты по основным моментам. Считается, что внедрение
                скриптов
                разговоров на предприятии - это мировой стандарт качества
                обслуживания
                клиентов, и это пожалуй, действительно так. Внедрив скрипты
                продаж - вы
                выведете свою компанию на средний мировой уровень, а если
                постараетесь, то
                даже выше среднего уровня. Но в любом случае, вы можете
                значительно улучшить
                свои продажи. Кто хочет разбогатеть?</p>
        </div>
        </div>
        </div>
        <div class="slide getready">
            <p>Зарегистрируйтесь в системе и создайте свой первый скрипт
                разговора! Начните
                свой путь к успеху абсолютно бесплатно.</p>
            <a href="{% url 'clients:register' %}?next={% url 'clients:dashboard' %}"
               class="btn btn-success">Регистрация</a> либо воспользуйтесь входом через социальные сети: {% social_login %}
            {#Sharebuttons#}
            {% include "share_buttons.inc.html" %}
            {#End Sharebuttons#}
        </div>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

<!-- VK Message Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 115083644, {});
</script>
    </div>
{% endblock %}