{% extends "base.html" %}
{% load bootstrap3 i18n %}
{% block main %}
<div class="row">
    <div class="col-md-offset-4 col-md-8 content-page margin-top-20 margin-bottom-65">
        <h1 class="page-header">{{ title }}</h1>

        {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form action="" role="form" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Reset my password' %}
                    </button>
                {% endbuttons %}
            </form>

        {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

        {% endif %}
    </div>
</div>
{% endblock %}
